vendor
node_modules
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.sqlite
.git
.gitignore
.gitattributes
Dockerfile
docker-entrypoint.sh
.dockerignore
tests
.phpunit.result.cache
